<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<!-- <link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html"> -->
<link rel="import" href="../styles/ajp-common-styles.html">
<link rel="import" href="../ajp-icons.html">

<dom-module id="ajp-list-event">

	<template>

		<style include="ajp-common-styles">
			:host {
				--paper-icon-button-ink-color: var(--app-accent-color);
			}

			.bottom {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}

			.eventItem {
				height: auto;
				margin: 0 0 32px 0;
				position: relative;
				display: box;
				background-color: white;
			}

			.eventItem:before{
				content: "";
				display: block;
				padding-top: 100%; /* initial ratio of 1:1 */
			}

			.eventItemActions {
				-webkit-padding-after: 0.33em;
				-webkit-padding-before: 0.33em;
				-webkit-padding-start: 0.33em;
				-webkit-padding-end: 0.33em;
			}

			.eventItemImage {
				position: static;
				width: 100%;
			}

			.eventItemContent {
				width: 100%;
				height: 100%;

				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}

			.eventItemContent .eventItemTitle {
				font-size: 1.37em;
				-webkit-padding-start: 0.23em;
				-webkit-padding-end: 0.23em;
				font-weight: normal;
				width: auto;
			}

			.eventItemContent .eventItemDetails {
				-webkit-padding-before: 0.07em;
				-webkit-padding-after: 0.07em;
				-webkit-padding-start: 0.35em;
				-webkit-padding-end: 0.35em;
				width: auto;
			}

			.eventItemContent .eventItemActions,
			.eventItemContent .eventItemDetails,
			.eventItemContent .eventItemTitle {
				background:rgba(255,255,255,0.75);
			}

			.eventItemContent .eventItemDetailsEvent {
				font-size: 0.88em;
				display: flex;
				flex-direction: column;
			}

			.eventItemContent .eventItemDetailsPromoter {
				font-size: 0.85em;
				display: inline-block;
			}

			.eventItemContent .eventItemDetailsPromoter .eventItemAuthor {
				font-weight: bold;
				display: inline-block;
			}

			.eventItemContent .eventItemDetailsPromoter .eventItemAuthor,
			.eventItemContent .eventItemDetailsPromoter .eventItemStarPower {
				display: inline-block;
			}

			.flex-horizontal {
				@apply(--layout-horizontal);
			}

			.flexchild {
				@apply(--layout-flex);
			}

			.notCompleted {
				color: lightgrey;
			}

			.topMargin {
				margin-top: 0.23em;
				-webkit-margin-before:0.23em;
			}

			.score {
				font-size: 0.8em
			}

			paper-icon-button {
				color: var(--app-primary-color);
				padding: 0px;
				width: 1em;
				height: 1em;
			}

			paper-material {
				color: #222;
			}

			@media (min-width: 500px) {
				.eventItemActions {
					-webkit-padding-after: 0.63em;
					-webkit-padding-before: 0.63em;
					-webkit-padding-start: 0.63em;
					-webkit-padding-end: 0.63em;
				}

				.eventItemContent .eventItemTitle {
					font-size: 1.87em;
					-webkit-padding-start: 0.43em;
					-webkit-padding-end: 0.43em;
				}

				.eventItemContent .eventItemDetailsPromoter {
					font-size: 1.35em;
				}

				.eventItemContent .eventItemDetails {
					-webkit-padding-before: 0.13em;
					-webkit-padding-after: 0.13em;
					-webkit-padding-start: 0.65em;
					-webkit-padding-end: 0.65em;
				}

				.eventItemContent .eventItemDetailsEvent {
					font-size: 1.18em;
				}

				.eventItemContent .eventItemDetailsPromoter {
					font-size: 1.18em;
				}

				.topMargin {
					margin-top: 0.43em;
					-webkit-margin-before:0.43em;
				}

				.score {
					font-size: 1.3em
				}
			}
		</style>

		<paper-material class='eventItem'>
			<iron-image id="eventIronImage" preload sizing="cover" class="eventItemImage" src="[[_getImageSRC(event)]]"></iron-image>
			<div class="eventItemContent">
				<div class="eventItemTitle">[[event.title]]</div>
				<div class="eventItemDetails flex-horizontal topMargin">
					<div class="eventItemDetailsPromoter ">
						<div class="eventItemAuthor">[[event._author]]</div>
						<div class="eventItemStarPower" id="starPower">
							<div class="score inline notCompleted"><!-- 1,000 --></div><paper-icon-button icon="star" aria-label="Star Power"></paper-icon-button>
						</div>
						<paper-tooltip for="starPower" offset="0"><!-- Star Power --></paper-tooltip>
					</div>
					<div class="flexchild"></div>
					<div class="eventItemDetailsEvent">
						<div style="margin-top: auto;">
							<div class="inline">[[_formatDateTime(event.date)]]</div>
							<div class="inline">to</div>
							<div class="inline">[[_formatDateTime(event.date,event.length)]]</div>
							<div class="inline">([[_formatLength(event.length)]])</div>
						</div>
					</div>
				</div>
				<div class="eventItemActions flex-horizontal bottom">
					<div>
						<iron-icon icon="account-box"></iron-icon>
					</div>
					<div class="flexchild"></div>
					<div>
						<iron-icon icon="communication:location-on"></iron-icon>
						<!-- <span>250ft</span> -->
					</div>
				</div>
			</div>
		</paper-material>

	</template>

	<script>

		Polymer({

			is: 'ajp-list-event',

			properties: {
				event: {
					type: Object,
					value: function() {return {title: 'Event'}; }
				},

				image: {
					type: String,
				}
			},

			ready: function() {
			},

			_getImageSRC: function(event) {
				return event.canvasData;
				// if (event.currentEventNumber)
				// 	return "../../data/" + event.currentEventNumber + ".jpg";
				// else
				// 	return "../../data/" + 0 + ".jpg";
			},

			_formatDateTime: function(date,minutes) {
				var formatString = '';
				if (date !== undefined) {
					var dateTime = new Date(date);
					if (minutes !== undefined) {
						dateTime.setMinutes(dateTime.getMinutes() + parseInt(minutes));
					}
					var hoursPart = dateTime.getHours()%12;
					if (hoursPart == 0) hoursPart = 12;
					var minutePart = ('0'+dateTime.getMinutes()).slice(-2);
					var midday = (dateTime.getHours()<12?'AM':'PM');
					formatString = hoursPart+':'+minutePart+midday;
				}
				return formatString;
			},

			_formatLength: function(minutes) {
				var formatString = '';
				if (minutes !== undefined) {
					var length_in_hours = minutes/60;
					var length_text = length_in_hours == 1 ? ' hour' : ' hours';
					formatString = length_in_hours + ' ' + length_text;
				}
				return formatString;
			},

		});

	</script>

</dom-module>
